* {
    box-sizing: border-box;
    font-family: 'Coda',serif;
    margin: 0;
    padding: 0;
}
html {
    background-color: white;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #282c35;
    line-height: 1.3;
}
/*NavBar*/
.navigation {
    text-align: center;
    background-color: #c4ced0;
}

.navigation__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navigation__list__item {
    float: left;
    border-right: 1px solid #bbb;
}

.navigation__list__item:last-child {
    border-right: none;
}

.navigation__list__item__link {
    display: block;
    color: #0c1021;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation__list__item__link:hover:not(.active) {
    background-color: #c4ced0;
}

/*ABOUT*/
.about {
    background-color: #282c35;
    min-height: 100vh;
    border: 20px solid;
    border-color: white;
}
.about__header {
    text-align: left;
    position: absolute;
    margin-top: 20%;
    padding-left: 50px;
}
.about__heading {
    margin-bottom: 40px;
    max-width: 900px;
    font-size: 3.75rem;
    color: white;
}

.about__heading--red {
    text-decoration-line: none;
    color: #df6c74;
}

.about__heading--green {
    text-decoration-line: none;
    color: #99c46d;
}

.about__heading--yellow {
    text-decoration-line: none;
    color: #ecce79;
}
.about__heading__paragraph {
    display: block;
    font-size: 1.2rem;
    margin-top: 20px;
    max-width: 700px;
    line-height: 1.6;
    color: white;
}
.about__heading__button {

}
.about__heading__button__link {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-top: 100px;
    padding: 20px 40px;
    border: 4px solid;
    border-color: #444b5a;
    border-radius: 4px;
    cursor: pointer;
}

/*SKILLSET*/
.skillset {
    min-height: 100vh;
    background-color: #f1f1f1;
    margin-top: -20px;
    border: 20px solid;
    border-color: white;
}

.skillset__header {
    text-align: center;
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;

}
.skillset__header__title {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.6;
}
.skillset__header__subtitle {
    display: block;
    font-family: 'Libre Baskerville',serif;
    font-size: 0.7em;
    font-weight: 100;
    font-style: italic;
}
.skillset__header__paragraph {
    display: block;
    margin: 20px auto 20px auto;
    max-width: 700px;
    font-weight: 100;
    color: #888e99;
}
.skillset_skills,.row {

}
.skillset__skills__container {

}

.skillset__skills__title {
    margin-top: 20px;
}
.skillset__skills__paragraph-header {
    margin-top: 0;
    margin-bottom: 20px;
}
.skillset__skills__paragraph {
    text-align: justify;
}
.skillset__skills__paragraph__list {
    list-style-type: none;
    padding: 0;
}

/*QUOTE*/
.quote {
    min-height: 100vh;
    background-color: #df6c74;
    margin-top: -20px;
    border: 20px solid;
    border-color: white;
}
.quote__title {
    display: block;
    color: white;
    text-align: left;
    font-size: 2.5rem;
    margin-top: 20%;
    max-width: 700px;
}
.quote__footer__paragraph {
    display: block;
    color: white;
    text-align: left;
    margin-right: 10%;
    font-size: 2rem;
    font-weight: 600;
}

/*PROJECTS*/

.projects {
    min-height: 100vh;
    background-color: #f1f1f1;
    margin-top: -20px;
    border: 20px solid;
    border-color: white;
}
.projects__header {
    text-align: center;
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
}
.projects__header__title {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.6;
}
.projects__header__subtitle {
    display: block;
    font-family: 'Libre Baskerville',serif;
    font-size: 0.7em;
    font-weight: 100;
    font-style: italic;
}
.projects__header__paragraph {
    display: block;
    margin: 20px auto 20px auto;
    max-width: 700px;
    font-weight: 100;
    color: #888e99;
}
.projects__project {
    min-width: 100px;
    min-height: 100px;
    background-color: black;
}
.projects__skills__title {
    margin-top: 20px;
}
.projects__skills__paragraph-header {
    margin-top: 0;
    margin-bottom: 20px;
}
.projects__skills__paragraph {
    text-align: justify;
}


/*OTHER*/
.other {
    min-height: 100vh;
    background-color: #014766;
    margin-top: -20px;
    border: 20px solid;
    border-color: white;
}
.other__header {
    text-align: left;
    margin-top: 20%;

}
.other__header__title {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.6;
    color: #ffffff;
}

.other__skills__paragraph {
    max-width: 700px;
    text-align: left;
    color: #ffffff;
    font-size: 1.75rem;
}
.other__skills__paragraph--red {
    color: #df6c74;
}
.other__skills__paragraph--green {
    color: #99c46d;
}
.other__skills__paragraph--yellow {
    color: #ecce79;
}
.other__skills__paragraph--purple {
    color: #af47de;
}
.other__skills__paragraph--blue {
    color: #268ae1;
}
.other__skills__paragraph--lightblue {
    color: #4cd5fb;
}
.other__skills__button__link {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 40px;
    border: 4px solid;
    border-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}
.other__footer__paragraph {
    display: block;
    text-align: left;
    max-width: 900px;
    font-weight: 100;
    font-size: 1.5rem;
    color: #ffffff;
}

/*RESUME*/

.resume {
    min-height: 100vh;
    background-color: #f1f1f1;
    margin-top: -20px;
    border: 20px solid;
    border-color: white;
}
.resume__header {
    text-align: center;
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;

}
.resume__header__title {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.5;
}
.resume__header__subtitle {
    display: block;
    font-family: 'Libre Baskerville',serif;
    font-size: 0.7em;
    font-weight: 100;
    font-style: italic;
}
.resume__header__paragraph {
    display: block;
    margin: 20px auto 20px auto;
    max-width: 700px;
    font-weight: 100;
}
.resume__footer {
    text-align: center;
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
}
.resume__footer__title {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.5;
}
.resume__footer__paragraph {

}
/*CONTACT*/

.contact {
    min-height: 100vh;
    background-color: #1b346c;
    margin-top: -20px;
    border: 20px solid;
    border-color: white;
}
.contact__header {
    text-align: center;
    padding-top: 5.625rem;
    padding-bottom: 2rem;

}
.contact__header__title {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.6;
    color: #ffffff;
}
.contact__header__subtitle {
    display: block;
    font-family: 'Libre Baskerville',serif;
    font-size: 0.7em;
    font-weight: 100;
    font-style: italic;
    color: #ffffff;
}
.contact__header__paragraph {
    display: block;
    margin: 20px auto 20px auto;
    max-width: 700px;
    font-weight: 100;
    color: #ffffff;
}
.contact__header__paragraph__link {
    color: #ffffff;
    text-decoration: none;
}
.contact__form {
    width: 100%;
    margin-bottom: 50px;
}
.contact__form__fieldset {
    border: none;
    margin: auto;
    padding: 0;
    max-width: 700px;
}
.contact__form__fieldset__field {
    width: 100%;
    margin-bottom: 20px;
    /*border: 1px solid;*/

}
.contact__form__fieldset__label {
    display: block;
    padding-bottom: 10px;
    color: #ffffff;
}
.contact__form__fieldset__input {
    display: block;
    padding: 20px;
    width: 100%;
    border: 4px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0 3px 0 rgba(0,0,0,.5);
}
.contact__form__fieldset__textarea {
    display: block;
    padding: 20px;
    width: 100%;
    border: 4px solid #fff;
    border-radius: 4px;
    box-shadow: 0 3px 0 rgba(0,0,0,.5);
    min-height: 200px;
}
.contact__form__fieldset__button {
    background-color: #1b346c;
    color: #ffffff;
    font-size: 1rem;
    border: 4px solid;
    border-radius: 4px;
    border-color: #bdc0c6;
    padding: 20px 40px;
    margin-top: 1.25rem;
    cursor: pointer;
}

/*FOOTER*/

.footer {

}